.DS_Store
node_modules/
dist/
npm-debug.log
__pycache__
*~
venv
webpack-assets.json
webpack-stats.json
db.sqlite3
config/env/*.env
.env
pgdata
BACKUPS
.env.bak
.*.secondary
.env.makefile
logs
nginx/nginx.conf
nginx/static
*.pyc
*.orig
shared
.env.201*
