/shared
/api/venv
/api/api/db.sqlite3
/api/api/__pycache__
/api/api/blog/__pycache__
/api/api/blog/migrations/__pycache__
/frontend/node_modules
/frontend/dist
/frontend/tmp
/nginx/logs
/nginx/cache
/nginx/nginx.conf
/TAGS
*~
.env
.env.makefile
.env.20*
.*.secondary
